<p id="notice"><%= notice %></p>
<div class= "container">


<% if user_signed_in? %>
<div class="mx-auto" style="width: 200px;">
<%= render 'form', tweet: @tweet %>
</div>
<% end %>


    <% @tweets.each do |tweet| %>
      <div class="mx-auto mt-5" style="width: 200px;">


        <%=image_tag("#{tweet.user.avatar}",style:"width:42px;height:42px;" )%>
        <td> <%=tweet.user.user_name %> </td> 
        <td> <%= link_to "#{distance_of_time_in_words(tweet.created_at, Time.now)   }", tweet %> </td>
        <p class='pt-2 pb-2'> <%= tweet.content %> </p>

        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>  
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% if user_signed_in? %>
        <% pre_like = tweet.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= button_to 'Unlike', tweet_like_path(tweet, pre_like), method: :delete %>
          <% else %>
            <%= button_to 'Like', tweet_likes_path(tweet), method: :tweet %>
          <% end %>
      <% end %>
        <p><%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? 'Like' : 'Likes'%></p>
       
      
      </div>
    <% end %>

    <%= paginate @tweets %>
 



</div>
